<form method="post" action="/">
  <div class="tat-msg-input">
    <div class="message-popup-results"></div>
    <textarea dir="auto" name="msg"
      ng-enter="MessageCreateForm.createMessage()"
      ng-focus="createMessageFocus=true"
      ng-blur="createMessageFocus=false"
      ng-model="MessageCreateForm.currentMessage"
      placeholder="{{ 'shared_message_compose_placeholder' | translate }}">
    </textarea>
    <i ng-click="ctrl.createMessage()" class="icon-paper-plane fa fa-send-o" title="{{ 'shared_message_send' | translate }}"></i>
  </div>
  <div class="btn-group">
    <a class="btn btn-default" ng-click="ctrl.filterDialog.visible=!ctrl.filterDialog.visible" ng-class="{'open': ctrl.filterDialog.visible}">
      <i class="fa fa-filter"></i>
    </a>
    <a class="btn btn-default" title="Toggle display replies" ng-click="ctrl.expandReplies = !ctrl.expandReplies" ng-class="{'open': ctrl.expandReplies}">
      <i ng-class="ctrl.expandReplies ? 'fa fa-compress': 'fa fa-expand'"></i>
    </a>
  </div>
  <div ng-if="ctrl.currentMessage.length > 0" class="tat-remaining-chars" ng-hide="!createMessageFocus">
    <i>{{ 'shared_message_characters_left' | translate }}: {{ ctrl.data.topic.maxlength - ctrl.currentMessage.length }}</i>
  </div>
  <div class="formatting-tips" aria-hidden="true" dir="auto"></div>
</form>
