<form method="post" action="/">

  <div class="tat-msg-input">
    <textarea dir="auto" name="msg"
      ng-enter="MessageCreateForm.createMessage()"
      ng-focus="createMessageFocus=true"
      ng-blur="createMessageFocus=false"
      ng-model="MessageCreateForm.currentMessage"
      placeholder="{{ 'shared_message_compose_placeholder' | translate }}">
    </textarea>
    <i class="icon-paper-plane fa fa-send-o"
      ng-click="MessageCreateForm.createMessage()"
      title="{{ 'shared_message_send' | translate }}"></i>
  </div>

  <div ng-if="ctrl.currentMessage.length > 0" class="tat-remaining-chars" ng-hide="!createMessageFocus">
    <i>{{ 'shared_message_characters_left' | translate }}: {{ ctrl.data.topic.maxlength - ctrl.currentMessage.length }}</i>
  </div>

  <div class="formatting-tips" aria-hidden="true" dir="auto"></div>

</form>
